@model System.Data.Entity.Spatial.DbGeography

@Html.HiddenFor(model => model)

@{
    string hiddenInputId = Html.ClientIdFor(model => model).ToString();
}

@if (Model != null)
{
    @Html.Script(
        @<script type="text/javascript">
            $(function () {
                maps.markerToSet = new google.maps.LatLng(@Model.Latitude.Value.ToString(System.Globalization.CultureInfo.CreateSpecificCulture("en-US")) , @Model.Longitude.Value.ToString(System.Globalization.CultureInfo.CreateSpecificCulture("en-US")));
            
                @*$('#open_' + @(hiddenInputId) + '_map').on( "dialogopen", function( event, ui ) {
                    // init map
                    initialize();
                } );*@
            });
        </script>
    )
}


<span id="open_@(hiddenInputId)" class="mapOpen">

@if (Model != null && Model.Latitude.HasValue && Model.Longitude.HasValue)
{
    <img data-static-image="@(hiddenInputId)" src="http://maps.googleapis.com/maps/api/staticmap?center=@(Model.Latitude.Value.ToString(System.Globalization.CultureInfo.CreateSpecificCulture("en-US"))),@(Model.Longitude.Value.ToString(System.Globalization.CultureInfo.CreateSpecificCulture("en-US")))&zoom=9&size=300x200&maptype=roadmap&markers=color:blue%7Clabel:S%7C@(Model.Latitude.Value.ToString(System.Globalization.CultureInfo.CreateSpecificCulture("en-US"))),@(Model.Longitude.Value.ToString(System.Globalization.CultureInfo.CreateSpecificCulture("en-US")))&sensor=false">
}
else
{
    <img data-static-image="@(hiddenInputId)" src="http://maps.googleapis.com/maps/api/staticmap?center=Ľubietovský+Vepor,+Ľubietová,+Slovakia&zoom=6&size=300x200&maptype=roadmap&sensor=false">
}

</span>

<div id="open_@(hiddenInputId)_map" title="Basic dialog" style="display:none;">

    <input id="pac-input" class="controls" type="text" placeholder="Enter a location">

    <div id="map_canvas" data-textboxid="@hiddenInputId" style="width: 100%; height: 100%"></div>

</div>